<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <connectionStrings>
    <add name="LaPazEntities" connectionString="metadata=res://*/LaPazModel.csdl|res://*/LaPazModel.ssdl|res://*/LaPazModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=lapaz;integrated security=True;Connection Timeout=3000;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="MigracionLaPazEntities" connectionString="metadata=res://*/Migracion.MigracionLaPazModel.csdl|res://*/Migracion.MigracionLaPazModel.ssdl|res://*/Migracion.MigracionLaPazModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=LapazMigracion;integrated security=True;Connection Timeout=300;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />

    <!--<add name="LaPazEntities" connectionString="metadata=res://*/LaPazModel.csdl|res://*/LaPazModel.ssdl|res://*/LaPazModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=SERVERCTES\SQLEXPRESSPRAGMA;Initial Catalog=lapaz;user id=pragma;password=ap_sys;Connection Timeout=3000;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="MigracionLaPazEntities" connectionString="metadata=res://*/Migracion.MigracionLaPazModel.csdl|res://*/Migracion.MigracionLaPazModel.ssdl|res://*/Migracion.MigracionLaPazModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=SERVERCTES\SQLEXPRESSPRAGMA;Initial Catalog=LapazMigracion;user id=pragma;password=ap_sys;Connection Timeout=300;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
  </connectionStrings>
</configuration>