<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <connectionStrings>
    <!--<add name="LaPazEntities" connectionString="metadata=res://*/LaPazModel.csdl|res://*/LaPazModel.ssdl|res://*/LaPazModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=lapaz;integrated security=True;Connection Timeout=3000;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="MigracionLaPazEntities" connectionString="metadata=res://*/Migracion.MigracionLaPazModel.csdl|res://*/Migracion.MigracionLaPazModel.ssdl|res://*/Migracion.MigracionLaPazModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=LapazMigracion;integrated security=True;Connection Timeout=300;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
  <!--<add name="LaPazEntities" connectionString="metadata=res://*/LaPazModel.csdl|res://*/LaPazModel.ssdl|res://*/LaPazModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=LCorrientes;integrated security=True;Connection Timeout=3000;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="MigracionLaPazEntities" connectionString="metadata=res://*/Migracion.MigracionLaPazModel.csdl|res://*/Migracion.MigracionLaPazModel.ssdl|res://*/Migracion.MigracionLaPazModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=LapazMigracion;integrated security=True;Connection Timeout=300;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
  <!--<add name="LaPazEntities" connectionString="metadata=res://*/LaPazModel.csdl|res://*/LaPazModel.ssdl|res://*/LaPazModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=ElVecinito;integrated security=True;Connection Timeout=3000;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="MigracionLaPazEntities" connectionString="metadata=res://*/Migracion.MigracionLaPazModel.csdl|res://*/Migracion.MigracionLaPazModel.ssdl|res://*/Migracion.MigracionLaPazModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=LapazMigracion;integrated security=True;Connection Timeout=300;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->

    <!--PRODUCCION NUEVO LCORRIENTES-->
    <!--<add name="LaPazEntities" connectionString="metadata=res://*/LaPazModel.csdl|res://*/LaPazModel.ssdl|res://*/LaPazModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=SERVERLCORRIENT;Initial Catalog=LCorrientes;user id=pragma;password=ap_sys;Connection Timeout=3000;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="MigracionLaPazEntities" connectionString="metadata=res://*/Migracion.MigracionLaPazModel.csdl|res://*/Migracion.MigracionLaPazModel.ssdl|res://*/Migracion.MigracionLaPazModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=SERVERLCORRIENT;Initial Catalog=LapazMigracion;user id=pragma;password=ap_sys;Connection Timeout=300;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
    
    <!--PRODUCCION VECINITO-->
    <!--<add name="LaPazEntities" connectionString="metadata=res://*/LaPazModel.csdl|res://*/LaPazModel.ssdl|res://*/LaPazModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=LCorrientes;integrated security=True;Connection Timeout=3000;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="MigracionLaPazEntities" connectionString="metadata=res://*/Migracion.MigracionLaPazModel.csdl|res://*/Migracion.MigracionLaPazModel.ssdl|res://*/Migracion.MigracionLaPazModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=LapazMigracion;integrated security=True;Connection Timeout=300;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->

    <!--LOCAL-->
    <add name="LaPazEntities" connectionString="metadata=res://*/LaPazModel.csdl|res://*/LaPazModel.ssdl|res://*/LaPazModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=lapaz;integrated security=True;Connection Timeout=3000;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="MigracionLaPazEntities" connectionString="metadata=res://*/Migracion.MigracionLaPazModel.csdl|res://*/Migracion.MigracionLaPazModel.ssdl|res://*/Migracion.MigracionLaPazModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=LapazMigracion;integrated security=True;Connection Timeout=300;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />


  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <log4net debug="true">
    <appender name="LogFileAppender" type="log4net.Appender.FileAppender,log4net" >
      <param name="File" value="c:\\lapaz\\log\\error-log.txt" />
      <param name="AppendToFile" value="true" />
      <layout type="log4net.Layout.PatternLayout,log4net">
        <param name="ConversionPattern" value="%d  %-5p %c - %m%n" />
      </layout>
    </appender>
    <appender name="SmtpAppender" type="log4net.Appender.SmtpAppender">
      <to value="santiacevedo@gmail.com,nico_dogi@hotmail.com,defe.frank@gmail.com,silviaeaguilar@gmail.com,jrossiq@gmail.com" />
      <from value="no-replay@libreriacorrientes.com" />
      <subject value="Error Libreria" />
      <smtpHost value="smtp.gmail.com" />
      <port value="587"/>
      <authentication value="Basic" />
      <username value="sandboxitsolutions@gmail.com"/>
      <password value="quilombito123"/>
      <bufferSize value="10" />
      <EnableSsl value="true"/>
      <lossy value="true" />
      <evaluator type="log4net.Core.LevelEvaluator">
        <threshold value="WARN"/>
      </evaluator>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%newline%date [%thread] %-5level %logger [%property{NDC}] - %message%newline%newline%newline" />
      </layout>
    </appender>
    <root>
      <priority value="ALL" />
      <appender-ref ref="LogFileAppender" />
      <appender-ref ref="SmtpAppender" />
    </root>
    <category name="testApp.LoggingExample">
      <priority value="ALL" />
    </category>
  </log4net>
</configuration>